@import "../shared/variables.scss";

.match {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #131417;
    border-bottom: 1px solid #303033;
    overflow: hidden;

    &:first-child {
        border-top-color: transparent;
    }

    &:last-child {
        border-bottom-color: transparent;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.info {
    font-size: 12px;
}