@import "../shared/variables.scss";

$item-margin: 20px;

.leagueTitle {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.round {
    padding: 20px;
    background: $body-bg-alternate;
    margin-bottom: 20px;
}

.roundTitle {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: normal;
}

.match {
    // width: 300px;
    display: block;
    padding: 5px 0;
    border-top: 1px solid #131417;
    border-bottom: 1px solid #303033;
    overflow: hidden;

    &:first-child {
        border-top-color: transparent;
    }

    &:last-child {
        border-bottom-color: transparent;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.info {
    font-size: 12px;
}